<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Please sign in</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
	<style> @media print { #ghostery-purple-box {display: none !important }}</style>
</head>
<body>

	<div class="container">
		<form class="form-signin" method="post" th:object="${appUser}" th:action="@{/login}">
			<h2 class="form-signin-heading text-center text-primary pb-2">Please login</h2>
 			
 			<div th:if="${message}"> 
            	<div class="alert alert-danger">
					<span th:text="${message}"></span>				
                </div>
            </div> 

			<div th:if="${param.logout}">
				<div class="alert alert-danger">
					You have been logged out.
				</div>
			</div>
			<p>
				<label for="username" class="sr-only">Username</label> 
				<input type="text" id="username" name="username" class="form-control" placeholder="Username">
			</p>
			<p>
				<label for="password" class="sr-only">Password</label> 
				<input type="password" id="password" name="password" class="form-control" placeholder="Password">
			</p>
			<button class="btn btn-lg btn-primary btn-block mb-5" type="submit">Login</button>
			
			<a href="/register" class="btn btn-lg btn-primary btn-block mt-5" role="button">Sign up</a>
		</form>
	</div>
	
</body>
</html>